<?xml version="1.0"?>

<!-- Configuration Start: Please customize following configuration -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.com_HPSP6019" version="1.0.0">
    
    <name>GPS香氛花園</name>
    <description>香氛不僅僅是聞香味，更是緩解緊繃神經、舒緩情緒的好幫手 現代生活步調快、生活壓力大，人們很需要可以紓壓的管道，讓家裡充滿香氛，也讓"回家"成了每天下班後的小確幸</description>
    <author href="https://www.myshops.tw/gypsophila" email="myhomes.management@gmail.com">GPS香氛花園</author>
    
    <!-- Configuration End -->
  
    <!--  allows access to any external resource. -->
    <access origin="*"/>
    <allow-navigation href="*" />
  
    <content src="index.html"/>
    <icon src="SP6019.png"/>
  
    <!-- https://build.phonegap.com/current-support -->
    <preference name="phonegap-version" value="cli-6.5.0" />
  <preference name="android-build-tool" value="ant|gradle" />
  <preference name="android-minSdkVersion" value="10" />
  <preference name="android-maxSdkVersion" value="28" />
  <preference name="android-targetSdkVersion" value="26" />
  <preference name="android-installLocation" value="auto" />
  <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
    
    <!-- 防止太多權限 -->
    <preference name="permissions" value="none" />
    
    <!-- 只保留最低的權限 -->
    <feature name="http://api.phonegap.com/1.0/network" />
    
    <!-- 外掛 -->
    <plugin name="cordova-plugin-network-information" spec="~1.3.3" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <plugin name="cordova-universal-links-plugin" spec="~1.2.1" />
</widget>
