<?xml version="1.0"?>

<!-- Configuration Start: Please customize following configuration -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.com_HP6460" version="1.0.0">
    
    <name>員林找好厝</name>
    <description>「員林找好厝」線上服務為每一位顧客提供了完整的房屋資料庫，透過網絡的連結，讓您可以輕鬆快速的搜尋房屋資訊，並且一手掌握全台灣出租與買房的訊息，「員林找好厝」是您的買屋好夥伴！</description>
    <author href="http://www.myhomes.com.tw/m/0933527406" email="myhomes.management@gmail.com">員林找好厝</author>
    
    <!-- Configuration End -->
  
    <!--  allows access to any external resource. -->
    <access origin="*"/>
    <allow-navigation href="*" />
  
    <content src="index.html"/>
    <icon src="HP6460.png"/>
  
    <!-- https://build.phonegap.com/current-support -->
    <preference name="phonegap-version" value="cli-6.5.0" />
  <preference name="android-build-tool" value="ant|gradle" />
  <preference name="android-minSdkVersion" value="10" />
  <preference name="android-maxSdkVersion" value="28" />
  <preference name="android-targetSdkVersion" value="26" />
  <preference name="android-installLocation" value="auto" />
  <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
    
    <!-- 防止太多權限 -->
    <preference name="permissions" value="none" />
    
    <!-- 只保留最低的權限 -->
    <feature name="http://api.phonegap.com/1.0/network" />
    
    <!-- 外掛 -->
    <plugin name="cordova-plugin-network-information" spec="~1.3.3" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <plugin name="cordova-universal-links-plugin" spec="~1.2.1" />
</widget>
